
{{#if (or (eq siteSettings.shop_test_nav_inject "nav_connector") (eq siteSettings.shop_test_nav_inject "both"))}}
<li class="navigation-item">
  <a href="/shop" class="navigation-link" data-auto-route="false" rel="nofollow">商城</a>
</li>
{{#if currentUser.staff}}
<li class="navigation-item">
  <a href="/shop/admin" class="navigation-link" data-auto-route="false" rel="nofollow">管理</a>
</li>
{{/if}}
{{/if}}
